body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.back{
  height:100%;
  width:100%;
  position:fixed;
}
.col{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(11, 11, 11, 0.1);
  padding: 8px;
  border-radius: 25px;
}
h1{
  font-size: 22px;
  padding: 0;
  margin:2px;
  color: inherit; 
  font-family: Tahoma;
}
h2{
  font-size: 18px;
  padding: 0;
  font-weight: normal;
  margin: 2px;
  font-family: Tahoma;
  color: inherit;
}

.search-root{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -420%);
  background: rgba(11, 11, 11, 0.1);
  padding: 8px;
  border-radius: 25px;
}
.search-input{
  width: 100%;
  background: none;
  border:none;
  font:inherit;
  color: inherit;
  text-align: center;
}

.recent-container{
  display: flex;
  align-items: center;
  position: fixed;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
  background: rgba(11, 11, 11, 0.1);
  padding: 8px;
  border-radius: 25px;
  flex-direction: column;
  justify-content: space-evenly
}
.recent-btns{
  display: flex;
  flex-direction: column;
}
.recent-btn{
  color:inherit;
  background: transparent;
  border:0px;
  cursor: pointer;
  min-height: 32px;
  font-size: 16px;
}

input:focus { outline: none; }